.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.get-qr {
    font-family: 'JetBrains Mono', monospace;
    font-size: 2em;
    border-radius: 5px;
    background-color: #ccc;
    color: #000;
    border-color: #aaa;
    cursor: pointer;
}